# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
flask_session/

# Flask stuff:
instance/
.webassets-cache

#
*.env
*.iml
*.csh
*.fish
*.ps1
*.9
*.cfg
*.__wz_cache

*.log
*.xml
