html{
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #212529;
}

.jumbotron {
    background-color: #F1C800;
    text-align: center;
    border-radius: 10px;
}

#products_container {
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin: 25px 0;
}

.product-inner {
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	padding: 10px;
}
.product img {
	margin-bottom: 10px;
	height: 120px;
    width: 120px;
}

#items {
    padding: 5px;
}

#search-form {
    margin: 20px 0;
    margin-bottom: 20px;
}

a {
    color: white;
}

#addProducts {
    margin: 20px 0;
}

#addProductsBtn {
    width: 100%;
}

/* unvisited link */
#link:link {
  color: black;
}

/* visited link */
#link:visited {
  color: blue;
}

/* mouse over link */
#link:hover {
  color: #ffc800;
}

/* selected link */
#link:active {
  color: #ffc800;
}


