/*
This CSS consists of profile_page.html
*/

html{
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #212529;
}

.jumbotron {
    background-color: #F1C800;
    text-align: center;
    border-radius: 10px;
}

.profile .card {
    border-radius: 10px;
}

.profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.profile .card h3 {
    font-size: 20px;
    font-weight: 700;
}

.profile .card p {
    font-size: 18px;
}

.profile .table th,
.profile .table td {
    font-size: 16px;
    padding: 10px 15px;
}

#side-profile {
    height: 100%;
}

input[type=text],
input[type=number],
input[type=datetime-local],
input[type=file] {
    width: 100%;
    display: inline-block;
    border: transparent;
    border-radius: 10px;
    padding: 5px;
}

input:read-only {
    background-color: #E9ECEF;
}

#saveBtn,
#cancelBtn{
    display: none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  display: center;
  /* height: 90%;*/
  width: 60%;
}

.modal-content p {
    text-align: center;
}


.modal-content img {
    width: 60%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}