{% extends "base_template.html" %}
{import "bootstrap/wtf.html" as wft%}
{% block title %}
Login
{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/create_qrcode.css"/>
<link rel="stylesheet" href="/static/css/alert.css"/>
{% endblock %}
{% block content %}
<section class="login">

    <div class="col-md">
        <div class="align-middle">
            <div class="card" align="center">
                <form method="POST" class="box">
                    {% if errorMsg %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <h3>{{errorMsg}}</h3>
                    </div>
                    {% endif %}

                    <h1>Two Factor Authentication Setup</h1>
                    <p class="text-muted" align="center">Please start your Google Authenticator APP and scan the
                        following QR Code</p>
                    <p align="center">{{ qr_image }}</p>
                    <div class="input-group">
                        <input type="otp_code" id="otp_code" class="form-control" name="otp_code" placeholder="OTP Code"
                               maxlength="6" onkeypress="return isNumber(event)" required>
                    </div>
                    <input type="submit" name="" value="Login">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="/static/js/create_account.js"></script>
{% endblock %}
</html>