{% extends "base_template.html" %}
{% block title %}
Forget Password
{% endblock %}
{% block head%}
<link rel="stylesheet" href="/static/css/login.css"/>
<link rel="stylesheet" href="/static/css/alert.css"/>
{% endblock %}
{% block content %}
<section class="login">
    <div class="col-md">
        <div class="align-middle">
            <div class="card">
                <form method="POST" class="box">
                    {% if errorMsg %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <h3>{{errorMsg}}</h3>
                    </div>
                    {% endif %}
                    <h1>Forget Password</h1>
                    <p class="text-muted"> Please enter your email address</p>
                    <div class="input-group">
                        <input type="email" id="email" class="form-control" name="email" placeholder="Email Address"
                               required/>
                    </div>
                    <div class="input-group">{{ recaptcha }}</div>
                    <input type="submit" name="" value="Next" href="#">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts%}
<script src="/static/js/create_account.js"></script>
{% endblock %}

</html>