{% extends "base_template.html" %}
{% block title %}
New Password
{% endblock %}
{% block head%}
<link rel="stylesheet" href="/static/css/login.css"/>
<link rel="stylesheet" href="/static/css/alert.css"/>
<style></style>
{% endblock %}
{% block content %}
<section class="create_account">
    <div class="col-md">
        <div class="align-middle">
            <div class="card">
                <form method="POST" class="box">
                    {% if errorMsg %}
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <h3>{{errorMsg}}</h3>
                    </div>
                    {% endif %}

                    <h1>New Password</h1>
                    <p class="text-muted"> Please enter your new password</p>


                    <div class="input-group">
                        <p>
                            <input type="password" id="newPassword" class="form-control" name="newPassword"
                                   placeholder="New Password"
                                   inputmode="numeric" minlength="8" onkeyup="checkPassword();" required/>
                            <i class="bi bi-eye-slash" id="togglePassword" aria-hidden="true"></i>
                        </p>
                    </div>

                    <div class="input-group">
                        <p>
                            <input type="password" id="confirmNewPassword" class="form-control"
                                   name="confirmNewPassword"
                                   placeholder="Confirm New Password" inputmode="numeric" minlength="8"
                                   onkeyup="checkPassword();"
                                   required/>
                            <i class="bi bi-eye-slash" id="togglePassword" aria-hidden="true"></i>
                        </p>
                    </div>

                    <div class="input-group">
                        <input type="otp_code" id="otp_code" class="form-control" name="otp_code" placeholder="OTP Code"
                               maxlength="6" onkeypress="return isNumber(event)" required>
                    </div>

                    <div class="col-sm-8 col-sm-offset-2 pt-3" id="pwd-container">
                        <div class="pwstrength_viewport_progress"></div>
                    </div>

                    <div class="input-group">
                        <span id='message'></span>
                    </div>

                    <h2 id="result"></h2>

                    <input type="submit" name="" value="Login" href="#">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts%}
<script src="/static/js/new_password.js"></script>
{% endblock %}

</html>
