{% extends "base_template.html" %}
{% block title %}
OTP Linked
{% endblock %}
{% block head%}
<link rel="stylesheet" href="/static/css/login.css"/>
{% endblock %}
{% block content %}
<section class="login">
    <div class="col-md">
        <div class="align-middle">
            <div class="card">
                <div class="box text-white">
                    <h1>You have your OTP linked</h1>
                    <h2>In order to reset, please contact the system admin via email at
                        support@dabestteam.sitict.net</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts%}
{% endblock %}

</html>