<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href={{url_for('landing')}}>Let's Bid</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                {% if (session.get('role') is none or session.get('loggedIn') is none) %}
                <li class="nav-item"><a class="nav-link" href="{{url_for('login')}}">Products </a></li>
                <li class="nav-item"><a class="nav-link" href="/#about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/#locate">Locate Us</a></li>
                <li class="nav-item"><a class="nav-link" href={{url_for('login')}}>Login</a></li>
                {% elif (session['role'] == 1)  %}
                <li class="nav-item"><a class="nav-link" href="{{url_for('admin')}}">Admin</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('admin_report')}}">Reports</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('admin_products')}}">Products</a></li>
                <li class="nav-item"><a class="nav-link" href={{url_for('logout')}}>Logout</a></li>
                {% elif (session['role'] == 2)  %}
                <li class="nav-item"><a class="nav-link" href="{{url_for('products')}}">Products </a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('e_wallet')}}">Wallet</a></li>
                <li class="nav-item"><a class="nav-link" href="{{url_for('profile')}}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href={{url_for('logout')}}>Logout</a></li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>